
@{
    ViewData["Title"] = "Index";
}

<body class="cuerpoPagina">
    <h1>Vehiculos</h1>

    <section class="vehicles" id="vehicles"></section>
</body>


<script src="~/js/vehiculos.js"></script>
<script src="~/js/generic.js"></script>
