
@{
    ViewData["Title"] = "Index";
}

<body class="cuerpoPagina">
    <h1>Vehiculos</h1>
    <div id="vehicles-slider-contenedor"></div>

    <div id="vehicles-container"></div>

    <!-- Modal de reserva -->
    <div class="modal fade" id="modalReserva" tabindex="-1" aria-labelledby="modalReservaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalReservaLabel">Reserva de Vehículo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modalVehiculoInfo" data-id="">
                        <!-- Los detalles del vehículo se cargarán aquí -->
                    </div>
                    <form>
                        <div class="mb-3">
                            <label for="fechaInicio" class="form-label">Fecha de Inicio:</label>
                            <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                        </div>
                        <div class="mb-3">
                            <label for="fechaFin" class="form-label">Fecha de Fin:</label>
                            <input type="date" class="form-control" id="fechaFin" name="fechaFin" required>
                        </div>
                        <div class="mb-3">
                            <button type="button" id="btnReservar" class="btn btn-primary">Reservar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

<script src="~/js/vehiculos.js"></script>
<script src="~/js/generic.js"></script>
