
@{
    ViewData["Title"] = "Index";
}


<h1>Vehiculos</h1>

<section class="vehicles" id="vehicles"></section>

<h1>Inventario de Vehiculos</h1>

<div id="divtabla"></div>

<script src="~/js/vehiculos.js"></script>
<script src="~/js/generic.js"></script>
