
@{
    ViewData["Title"] = "Index";
}

<body class="cuerpoPagina">
    <h1>Vehiculos</h1>
    <div id="vehicles-container"></div>
</body>


<script src="~/js/vehiculos.js"></script>
<script src="~/js/generic.js"></script>
