@{
    ViewData["Title"] = "Home Page";
}
    <section class="home" id="home">
        <div class="text-container">
            <h3>Tu Vehiculo de Alquiler, Rápido y Seguro</h3>
            <a href="/Vehiculos" class="btn">
                Ver Vehiculos Disponibles
            </a>
        </div>
    </section>

    <section class="icons-container">

        <div class="icons">
        <i class="fas fa-gear"></i>
            <div class="content">
                <h3>50+</h3>
                <p>Marcas</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-car"></i>
            <div class="content">
                <h3>500+</h3>
                <p>Vehiculos</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-users"></i>
            <div class="content">
                <h3>300+</h3>
                <p>Clientes satisfechos</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-hand-sparkles"></i>
            <div class="content">
                <h3>150+</h3>
                <p>Vehiculos nuevos</p>
            </div>
        </div>

    </section>

    <section class="services" id="services">

        <h1 class="heading"> Nuestros <span>Servicios</span> </h1>

        <div class="box-container">

            <div class="box">
                <i class="fas fa-car"></i>
            <h3>Alquiler de Vehículos</h3>
            <p>Encuentra el auto ideal para tu viaje con nuestras opciones de renta por día, semana o mes.</p>
            </div>

            <div class="box">
                <i class="fas fa-book-open"></i>
            <h3>Reservaciones en Línea</h3>
            <p>Reserva tu vehículo de forma rápida y segura a través de nuestra plataforma en línea.</p>
            </div>

            <div class="box">
                <i class="fas fa-car-crash"></i>
            <h3>Seguros para tu Renta</h3>
            <p>Protege tu viaje con nuestras opciones de seguro personalizadas para cada alquiler.</p>
            </div>

            <div class="box">
                <i class="fas fa-car-battery"></i>
            <h3>Mantenimiento y Asistencia</h3>
            <p>Nuestros vehículos pasan por un mantenimiento constante para garantizar tu seguridad y comodidad.</p>
            </div>

            <div class="box">
                <i class="fas fa-street-view"></i>
            <h3>Entrega y Recogida</h3>
            <p>Nos ponemos en contacto contigo y llevamos el auto a la ubicación que prefieras y lo recogemos al finalizar el alquiler.</p>
            </div>

            <div class="box">
                <i class="fas fa-headset"></i>
            <h3>Atención al Cliente 24/7</h3>
            <p>Estamos disponibles para ayudarte en cualquier momento del día, los 7 días de la semana.</p>
            </div>
        </div>

    </section>

    <h1 class="heading"> Carros <span>Destacados</span> </h1>

    <section class="vehicles" id="vehicles"></section>

    <section class="reviews" id="reviews">

        <h1 class="heading"> Reseñas <span></span> </h1>

        <div class="swiper review-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                <img src="https://images.unsplash.com/photo-1516224498413-84ecf3a1e7fd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Usuario 1">
                    <div class="content">
                        <p>"Excelente servicio de alquiler de vehículos. Reservar en línea fue súper fácil y rápido. Me entregaron el auto en perfectas condiciones y a tiempo. ¡Recomendado!"</p>
                        <h3>Andrés Morales</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                <img src="https://images.unsplash.com/photo-1468488718849-422a2a5efc03?q=80&w=1624&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Usuario 2">
                    <div class="content">
                        <p>"Los autos están en excelente estado y el proceso de mantenimiento es evidente. Me sentí seguro y cómodo durante todo el viaje. Sin duda, volveré a alquilar aquí."</p>
                        <h3>Sofía Castillo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                <img src="https://images.unsplash.com/photo-1528892952291-009c663ce843?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Usuario 3">
                    <div class="content">
                        <p>"Me encantó la opción de entrega y recogida del vehículo. Lo dejaron en mi hotel en Quito y lo recogieron en el aeropuerto sin problemas. Muy conveniente y puntual."</p>
                        <h3>Javier Pérez</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                <img src="https://images.unsplash.com/photo-1526510747491-58f928ec870f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Usuario 4">
                    <div class="content">
                        <p>"La atención al cliente es excelente. Tuve una consulta sobre los seguros y me ayudaron rápidamente a elegir la mejor opción para mi viaje. Muy confiable."</p>
                        <h3>Mariana López</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                <img src="https://animenew.com.br/wp-content/uploads/2024/03/Por-que-Goku-cresceu-em-Dragon-Ball-jpg.webp" alt="Usuario 5">
                    <div class="content">
                        <p>"Tuve un pequeño inconveniente con la batería del auto, pero la asistencia mecánica fue rápida y eficiente. En menos de 30 minutos me ayudaron a continuar mi viaje. ¡Excelente!"</p>
                        <h3>Carlos Andrade</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                <img src="https://images.unsplash.com/photo-1508602636771-613ba0112c30?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Usuario 6">
                    <div class="content">
                        <p>"Reservé un SUV para un viaje a Baños y todo salió perfecto. Buen precio, auto en excelente estado y seguro incluido. Una experiencia sin complicaciones."</p>
                        <h3>Fernanda Ríos</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="contact" id="contact">

        <h1 class="heading"><span>Contactanos</span></h1>

        <div class="row">

            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7580792352273!2d-78.44506203863827!3d-0.31485318570432824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5bd12538eb13b%3A0x907c61f1abbe45ab!2sUNIVERSITY%20OF%20THE%20ARMED%20FORCES%20ESPE!5e0!3m2!1sen!2sin!4v1740524140863!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <form action="">
                <input type="text" placeholder="Nombre" class="box">
                <input type="text" placeholder="Apellido" class="box">
                <input type="tel" placeholder="Telefono" class="box">
                <input type="email" placeholder="Email" class="box">
                <input type="submit" value="Reservar" class="btn">
                <br/>
                <br/>
                <p>Llena los datos y en unos instantes nos comunicaremos contigo</p>
            </form>

        </div>

    </section>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="~/js/generic.js"></script>
<script src="~/js/vehiculos.js"></script>