@{
    ViewData["Title"] = "Home Page";
}
    <section class="home" id="home">
        <div class="text-container">
            <h3>Tu Vehiculo de Alquiler, Rápido y Seguro</h3>
            <a href="/Vehiculos" class="btn">
                Ver Vehiculos Disponibles
            </a>
        </div>
    </section>

    <section class="icons-container">

        <div class="icons">
        <i class="fas fa-gear"></i>
            <div class="content">
                <h3>50+</h3>
                <p>Marcas</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-car"></i>
            <div class="content">
                <h3>500+</h3>
                <p>Vehiculos</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-users"></i>
            <div class="content">
                <h3>300+</h3>
                <p>Clientes satisfechos</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-hand-sparkles"></i>
            <div class="content">
                <h3>150+</h3>
                <p>Vehiculos nuevos</p>
            </div>
        </div>

    </section>

    <section class="vehicles" id="vehicles">

        <h1 class="heading"> Eleccion <span>Popular</span> </h1>

        <div class="swiper vehicles-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="price"> <span>price : </span> $62,000/- </div>
                        <p>
                            new
                            <span class="fas fa-circle"></span> 2021
                            <span class="fas fa-circle"></span> automatic
                            <span class="fas fa-circle"></span> petrol
                            <span class="fas fa-circle"></span> 183mph
                        </p>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="price"> <span>price : </span> $62,000/- </div>
                        <p>
                            new
                            <span class="fas fa-circle"></span> 2021
                            <span class="fas fa-circle"></span> automatic
                            <span class="fas fa-circle"></span> petrol
                            <span class="fas fa-circle"></span> 183mph
                        </p>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="price"> <span>price : </span> $62,000/- </div>
                        <p>
                            new
                            <span class="fas fa-circle"></span> 2021
                            <span class="fas fa-circle"></span> automatic
                            <span class="fas fa-circle"></span> petrol
                            <span class="fas fa-circle"></span> 183mph
                        </p>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="price"> <span>price : </span> $62,000/- </div>
                        <p>
                            new
                            <span class="fas fa-circle"></span> 2021
                            <span class="fas fa-circle"></span> automatic
                            <span class="fas fa-circle"></span> petrol
                            <span class="fas fa-circle"></span> 183mph
                        </p>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="price"> <span>price : </span> $62,000/- </div>
                        <p>
                            new
                            <span class="fas fa-circle"></span> 2021
                            <span class="fas fa-circle"></span> automatic
                            <span class="fas fa-circle"></span> petrol
                            <span class="fas fa-circle"></span> 183mph
                        </p>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="price"> <span>price : </span> $62,000/- </div>
                        <p>
                            new
                            <span class="fas fa-circle"></span> 2021
                            <span class="fas fa-circle"></span> automatic
                            <span class="fas fa-circle"></span> petrol
                            <span class="fas fa-circle"></span> 183mph
                        </p>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>

        </div>

    </section>

    <section class="services" id="services">

        <h1 class="heading"> Nuestros <span>Servicios</span> </h1>

        <div class="box-container">

            <div class="box">
                <i class="fas fa-car"></i>
            <h3>Alquiler de Vehículos</h3>
            <p>Encuentra el auto ideal para tu viaje con nuestras opciones de renta por día, semana o mes.</p>
                <a href="/Vehiculos" class="btn">Explorar Autos</a>
            </div>

            <div class="box">
                <i class="fas fa-book-open"></i>
            <h3>Reservaciones en Línea</h3>
            <p>Reserva tu vehículo de forma rápida y segura a través de nuestra plataforma en línea.</p>
            <a href="/Clientes" class="btn">Reservar Ahora</a>
            </div>

            <div class="box">
                <i class="fas fa-car-crash"></i>
            <h3>Seguros para tu Renta</h3>
            <p>Protege tu viaje con nuestras opciones de seguro personalizadas para cada alquiler.</p>
            <a href="/Seguros" class="btn">Ver Coberturas</a>
            </div>

            <div class="box">
                <i class="fas fa-car-battery"></i>
            <h3>Mantenimiento y Asistencia</h3>
            <p>Nuestros vehículos pasan por un mantenimiento constante para garantizar tu seguridad y comodidad.</p>
            <a href="/Home/Privacy" class="btn">Más Información</a>
            </div>

            <div class="box">
                <i class="fas fa-street-view"></i>
            <h3>Entrega y Recogida</h3>
            <p>Nos ponemos en contacto contigo y llevamos el auto a la ubicación que prefieras y lo recogemos al finalizar el alquiler.</p>
            <a href="/Reservas" class="btn">Solicitar Servicio</a>
            </div>

            <div class="box">
                <i class="fas fa-headset"></i>
            <h3>Atención al Cliente 24/7</h3>
            <p>Estamos disponibles para ayudarte en cualquier momento del día, los 7 días de la semana.</p>
            <a href="#contact" class="btn">Contáctanos</a>
            </div>
        </div>

    </section>

    <section class="featured" id="featured">

        <h1 class="heading"> <span>Carros</span> destacados </h1>

        <div class="swiper featured-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="price">$55,000/-</div>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="price">$55,000/-</div>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="price">$55,000/-</div>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="price">$55,000/-</div>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>

        </div>

        <div class="swiper featured-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="price">$55,000/-</div>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="price">$55,000/-</div>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="price">$55,000/-</div>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <h3>new model</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="price">$55,000/-</div>
                        <a href="#" class="btn">check out</a>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>

        </div>

    </section>

    <section class="reviews" id="reviews">

        <h1 class="heading"> Reseñas <span></span> </h1>

        <div class="swiper review-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>

        </div>

    </section>

    <section class="contact" id="contact">

        <h1 class="heading"><span>Contactanos</span></h1>

        <div class="row">

            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7580792352273!2d-78.44506203863827!3d-0.31485318570432824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5bd12538eb13b%3A0x907c61f1abbe45ab!2sUNIVERSITY%20OF%20THE%20ARMED%20FORCES%20ESPE!5e0!3m2!1sen!2sin!4v1740524140863!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <form action="">
                <input type="text" placeholder="Nombre" class="box">
                <input type="text" placeholder="Apellido" class="box">
                <input type="tel" placeholder="Telefono" class="box">
                <input type="email" placeholder="Email" class="box">
                <input type="submit" value="reservar" class="btn">
                <br/>
                <br/>
                <p>Llena los datos y en unos instantes nos comunicaremos contigo</p>
            </form>

        </div>

    </section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
