
@{
    ViewData["Title"] = "Basico";
}

<section class="seguro-basico" id="seguro-basico">
    <div class="text-container-seguro-basico">
        <h3>Seguro Basico</h3>
    </div>
</section>
<br />
<body class="cuerpoPagina-seguros">
    <section class="intro">
        <p>¿Qué incluye el Seguro Básico?</p>
    </section>
    <section class="seguros-container">
            <div class="card-seguros">
                <div class="content-seguros">
                    <p class="heading">Responsabilidad Civil</p>
                    <i class="fas fa-shield-alt"></i>
                    <p class="para">
                        Cubre daños a terceros en caso de accidente.
                    </p>
                </div>
            </div>
            <div class="card-seguros">
                <div class="content-seguros">
                    <p class="heading">Protección contra Robo</p>
                    <i class="fas fa-car"></i>
                    <p class="para">
                        Seguridad en caso de robo o intento de hurto.
                    </p>
                </div>
            </div>
    </section>
</body>
<br />
<br />
<br />