
@{
    ViewData["Title"] = "Index";
}

<section class="seguros" id="seguros">
    <div class="text-container-seguros">
        <h3>Descubre Nuestros Planes de Seguros</h3>
    </div>
</section>
<br />
<body class="cuerpoPagina">
    <section class="intro">
        <p>Protege lo que más valoras con nuestros planes de seguros diseñados para brindarte tranquilidad y seguridad. Desde coberturas básicas hasta asistencia total, encuentra la mejor opción para ti. ¡Elige la protección que mereces!</p>
    </section>
    <section class="seguros-container">
        <div class="card">

            <div class="content">
                <div class="description">
                    <p class="title">
                        <i class="fas fa-dollar-sign"></i>
                        <br />
                        <strong>Seguro Básico</strong>
                    </p>
                    <p class="info">
                        Cobertura de Responsabilidad Civil y Protección contra Robo.
                    </p>
                    <p class="price">
                        20.00
                    </p>
                    <a href="/Seguros/Basico" class="btn">
                        Mas informacion
                    </a>
                </div>
            </div>

        </div>
        <div class="card">

            <div class="content">
                <div class="description">
                    <p class="title">
                        <i class="fas fa-dollar-sign"></i>
                        <i class="fas fa-dollar-sign"></i>
                        <br />
                        <strong>Seguro Intermedio</strong>
                    </p>
                    <p class="info">
                        Cobertura Básica + Daños por Colisión y Protección Personal.
                    </p>
                    <p class="price">
                        40.00
                    </p>
                    <a href="/Seguros/Intermedio" class="btn">
                        Mas informacion
                    </a>
                </div>
            </div>

        </div>
        <div class="card">

            <div class="content">
                <div class="description">
                    <p class="title">
                        <i class="fas fa-dollar-sign"></i>
                        <i class="fas fa-dollar-sign"></i>
                        <i class="fas fa-dollar-sign"></i>
                        <br />
                        <strong>Seguro Premium</strong>
                    </p>
                    <p class="info">
                        Cobertura Intermedia + Asistencia en Carretera y Cobertura Total.
                    </p>
                    <p class="price">
                        60.00
                    </p>
                    <a href="/Seguros/Premium" class="btn">
                        Mas informacion
                    </a>
                </div>
            </div>

        </div>
    </section>
</body>
<br />
<br />
<br />