
@{
    ViewData["Title"] = "Premium";
}

<section class="seguro-premium" id="seguro-premium">
    <div class="text-container-seguro-premium">
        <h3>Seguro Premium</h3>
    </div>
</section>
<br />
<body class="cuerpoPagina-seguros">
    <section class="intro">
        <p>¿Qué incluye el Seguro Premium?</p>
    </section>
    <section class="seguros-container">
        <div class="card-seguros">
            <div class="content-seguros">
                <p class="heading">Responsabilidad Civil</p>
                <i class="fas fa-shield-alt"></i>
                <p class="para">
                    Cubre daños a terceros en caso de accidente.
                </p>
            </div>
        </div>
        <div class="card-seguros">
            <div class="content-seguros">
                <p class="heading">Protección contra Robo</p>
                <i class="fas fa-car"></i>
                <p class="para">
                    Seguridad en caso de robo o intento de hurto.
                </p>
            </div>
        </div>
        <div class="card-seguros">
            <div class="content-seguros">
                <p class="heading">Daños por Colisión</p>
                <i class="fas fa-car-crash"></i>
                <p class="para">Cobertura en caso de accidentes con daños a tu vehículo.</p>
            </div>
        </div>
        <div class="card-seguros">
            <div class="content-seguros">
                <p class="heading">Protección Personal</p>
                <i class="fas fa-user-shield"></i>
                <p class="para">Asistencia médica y apoyo en caso de siniestros.</p>
            </div>
        </div>
        <div class="card-seguros">
            <div class="content-seguros">
                <p class="heading">Asistencia en Carretera</p>
                <i class="fas fa-road"></i>
                <p class="para">Soporte en emergencias vehiculares 24/7.</p>
            </div>
        </div>
        <div class="card-seguros">
            <div class="content-seguros">
                <p class="heading">Cobertura Total</p>
                <i class="fas fa-star"></i>
                <p class="para">El plan más completo y seguro para tus viajes y tranqulidad.</p>
            </div>
        </div>
    </section>
</body>
<br />
<br />
<br />
