@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Clientes - Administración";
}
<h1>Clientes</h1>

<div id="divTabla"></div>

<script src="~/js/generic.js"></script>

<script src="~/js/clientes.js"></script>
