@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Clientes - Administración";
}
<h1>Clientes</h1>

<div id="divtabla"></div>

<script src="~/js/clientes.js"></script>
<script src="~/js/generic.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
