@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Clientes - Administración";
}
<h1>Clientes</h1>


<button type="button" class="btn btn-success" data-bs-toggle="modal" onclick="MostrarModal()">
    Nuevo Cliente
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5m1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0M1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5" />
    </svg>
</button>

<br />
<br />


<!-- Modal -->
<div class="modal fade" id="modalCliente" tabindex="-1" aria-labelledby="modalClienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalClienteLabel">Gestionar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmCliente" method="post" class="row g-3">
                    <div class="col-md-4">
                        <label for="inputIdCliente" class="form-label">Id Cliente</label>
                        <input type="text" class="form-control shadow-sm rounded" name="idCliente" id="idCliente" readonly>
                    </div>
                        <input type="hidden" class="form-control shadow-sm rounded" name="idUsuario" id="idUsuario" readonly>
                    <div class="col-md-4">
                        <label for="inputNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control shadow-sm rounded" name="nombre" id="nombre">
                    </div>
                    <div class="col-md-4">
                        <label for="inputApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control shadow-sm rounded" name="apellido" id="apellido">
                    </div>
                    <div class="col-md-4">
                        <label for="inputNombreUsuario" class="form-label">Nombre Usuario</label>
                        <input type="text" class="form-control shadow-sm rounded" name="nombreUsuario" id="nombreUsuario">
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="text" class="form-control shadow-sm rounded" name="email" id="email">
                    </div>
                    <div class="col-md-4">
                        <label for="inputTelefono" class="form-label">Telefono</label>
                        <input type="text" class="form-control shadow-sm rounded" name="telefono" id="telefono">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="GuardarCliente()">Guardar</button>
                <button type="button" class="btn btn-secondary" onclick="LimpiarCliente()">Limpiar</button>
            </div>
        </div>
    </div>
</div>


<div id="divTabla"></div>

<script src="~/js/generic.js"></script>

<script src="~/js/clientes.js"></script>
