<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/Ahmed-Massoud/Login-and-sign-up-form/main/font.css">
    <link rel="stylesheet" href="~/css/SingUp.css" asp-append-version="true">

</head>

    <div id="containerSingUp">

        <div class="main" id="main">

            <input type="checkbox" id="chk">

            <div class="signup"  >
                <label for="chk" class="sig">Registrarse</label>
                <div class="form-row">
                    <div class="user-box">
                        <input type="text" title="Ingresar nombre" id="nombre" name="nombre" required autocomplete="off">
                        <label id="nameLabel">Nombre</label>
                        <img src="https://raw.githubusercontent.com/Ahmed-Massoud/Login-and-sign-up-form/main/logo.svg" alt="Logo" class="logo-img" id="nameIcon">
                    </div>

                    <div class="user-box">
                        <input type="text" title="Ingresar apellido" id="apellido" name="apellido" required autocomplete="off">
                        <label id="lasnameLabel">Apellido</label>
                        <img src="https://raw.githubusercontent.com/Ahmed-Massoud/Login-and-sign-up-form/main/logo.svg" alt="Logo" class="logo-img" id="lastNameIcon">
                    </div>
                </div>

                <div class="form-row">
                    <div class="user-box">
                        <input type="text" title="Ingresar nombre usuario" id="nombreUsuario" name="nombreUsuario" required autocomplete="off">
                        <label id="usernameLabel">Nombre de Usuario</label>
                        <img src="https://raw.githubusercontent.com/Ahmed-Massoud/Login-and-sign-up-form/main/logo.svg" alt="Logo" class="logo-img" id="userIcon">
                    </div>

                    <div class="user-box">
                        <input type="text" title="Ingresar telefono" id="telefono" name="telefono" required autocomplete="off">
                        <label id="telephoneLabel">Teléfono</label>
                        <img src="https://raw.githubusercontent.com/Ahmed-Massoud/Login-and-sign-up-form/main/logo.svg" alt="Logo" class="logo-img" id="telephoneIcon">
                    </div>
                </div>

                <div class="form-row">
                    <div class="user-box">
                        <input type="text" title="Ingresar email" id="email" name="email" required autocomplete="off">
                        <label id="emailLabel">Email</label>
                        <img src="https://raw.githubusercontent.com/Ahmed-Massoud/Login-and-sign-up-form/main/logo.svg" alt="Logo" class="logo-img" id="emailIcon">
                    </div>

                    <div class="user-box">
                        <input type="password" title="Ingresar contraseña" id="contraseña" name="contraseña" required autocomplete="off">
                        <label id="passwordLabel">Contraseña</label>
                        <img src="https://raw.githubusercontent.com/Ahmed-Massoud/Login-and-sign-up-form/main/logo.svg" alt="Logo" class="logo-img" id="passIcon">
                    </div>
                </div>

            
                <button onclick="Registrar()" id="button" class="btnLogIn">Registrarse</button>
            </div>

            <div class=" login"  >

                <label for="chk" class="log">Inicio Sesion</label>

                <div class="user-box">

                    <input type="text" title="Ingresar nombre usuario" id="nombreUsuario2" name="nombreUsuario" required>

                    <label>Username</label>

                </div>

                <div class="user-box">

                    <input type="password" title="Ingresar contraseña" id="contraseña2" name="contraseña" required>

                    <label>Password</label>

                </div>
                <button onclick="ValidarInicioSesion()" id="button2" class="btnLogIn">Iniciar Sesion</button>

            </div>

        </div>

    </div>

<script src="~/js/singup.js"></script>
<script src="~/js/generic.js"></script>